{% extends 'back/index.html.twig' %}

{% block title %}Historique - Ajouter - {% block title_base %}{{ parent() }}{% endblock %}{% endblock %}

{% block body %}
	<div>
		{% block titre_admin_page %}{% block title_titre_admin_page_base %}{{ parent() }}{% endblock %}Historique - Ajouter{% endblock %}
	</div>
	{% block admin_utilisateur %}
		{{ form_start(form_changelog_add_admin) }}
		<div class="was-validated form-back background-login is-valid">
			{% if notification %}
				<div class="alert alert-success">{{ notification }}<br>
					<hr>
					<a href="{{ path('changelog') }}">Retourner à la liste</a>
				</div>
			{% endif %}
				<div class="form-group">
					{{ form_row(form_changelog_add_admin.version) }}
					{{ form_row(form_changelog_add_admin.name) }}
					{{ form_row(form_changelog_add_admin.subname) }}
					{{ form_row(form_changelog_add_admin.subname2) }}
					{{ form_row(form_changelog_add_admin.subname3) }}
					{{ form_row(form_changelog_add_admin.created_at) }}
                    {{ form_row(form_changelog_add_admin.submit) }}
				</div>
		</div>
        {{ form_end(form_changelog_add_admin) }}
	{% endblock %}
{% endblock %}


