{% extends 'back/index.html.twig' %}

{% block title %}Modifier utilisateur - {% block title_base %}{{ parent() }}{% endblock %}{% endblock %}

{% block body %}
	<div>
{% block titre_admin_page %}{% block title_titre_admin_page_base %}{{ parent() }}{% endblock %}Utilisateur - Modifier{% endblock %}
	</div>
	{% block admin_utilisateur %}

		{{ form_start(form_user_modify_admin) }}
		<div class="was-validated form-back background-login is-valid">
			{% if notification %}
				<div class="alert alert-success">{{ notification }}<br>
					<hr>
					<a href="{{ path('user_list_admin') }}">Retourner à la liste</a>
				</div>
			{% endif %}
				<div class="form-group">
					{{ form_row(form_user_modify_admin.email) }}
					{{ form_row(form_user_modify_admin.firstname) }}
					{{ form_row(form_user_modify_admin.lastname) }}
					{{ form_row(form_user_modify_admin.roles) }}
					{{ form_row(form_user_modify_admin.submit) }}
				</div>
		</div>
		{{ form_end(form_user_modify_admin) }}
	{% endblock %}
{% endblock %}