{% extends 'back/index.html.twig' %}

{% block title %}Liste des étapes - {% block title_base %}{{ parent() }}{% endblock %}{% endblock %}

{% block body %}
	<div>
		{% block titre_admin_page %}{% block title_titre_admin_page_base %}{{ parent() }}{% endblock %}Étapes projets{% endblock %}		
	</div>
	{% block admin_utilisateur %}
		<div class="d-flex">
			<a href="{{ path('steps_add_admin') }}" title="Ajouter un client" type="button" class="btn btn-outline-light mb-3">
				<i class="fas fa-plus-circle"></i>
			</a>
		</div>
		<table class="table table-light" data-toggle="table" data-pagination="true" data-search="true">
			<thead class="thead-light">
				<tr>
					<th scope="col">Nom du client</th>
					<th scope="col">Brief client</th>
					<th scope="col">Coming soon</th>
					<th scope="col">Contenu client</th>
					<th scope="col">Photos</th>
					<th scope="col">Maquette en cours</th>
					<th scope="col">Maquette en attente</th>
					<th scope="col">Maquette validée</th>
					<th scope="col">Intégration</th>
					<th scolpe="col">Formation</th>
					<th scope="col">Mise en ligne</th>
					<th scope="col">Action</th>
				</tr>
			</thead>
			<tbody>
				{% for step in steps %}
					<tr class="form-switch">
						<td>{{ step.customer }}</td>
						<td>
						<input type="checkbox" class="customerbrief form-check-input" {{ (step.customerbrief) ? 'checked' : ''}} data-customerbrief="{{step.id}}">
							{% if step.commentcustomerbrief is empty %}
							{% else %}
							| <a data-bs-toggle="modal" data-bs-target="#popup-commentcustomerbrief" data-bs-id="{{step.id}}" data-bs-commentcustomerbrief="{{step.commentcustomerbrief}}"><i class="fas fa-eye"></i>{% endif %}
						</td>

						{# Popup 2 #}
						<td>
						<input type="checkbox" class="comingsoon form-check-input" {{ (step.comingsoon) ? 'checked' : ''}} 	 data-comingsoon="{{step.id}}">
							{% if step.commentcomingsoon is empty %}
							{% else %}
							| <a data-bs-toggle="modal" data-bs-target="#popup-commentcomingsoon" data-bs-id="{{step.id}}" data-bs-commentcomingsoon="{{step.commentcomingsoon}}"><i class="fas fa-eye"></i>{% endif %}
						</td>

						
						{# Popup 3 #}
						<td>
							<input type="checkbox" class="customercontentreception form-check-input" {{ (step.customercontentreception) ? 'checked' : ''}} data-customercontentreception="{{step.id}}">
							{% if step.commentcustomercontentreception is empty %}
							{% else %}
							| <a data-bs-toggle="modal" data-bs-target="#popup-commentcustomercontentreception" data-bs-id="{{step.id}}" data-bs-commentcustomercontentreception="{{step.commentcustomercontentreception}}"><i class="fas fa-eye"></i></a>
							{% endif %}
						</td>

						{# Popup 4 #}
						<td>
							<input type="checkbox" class="picturesreception form-check-input" {{ (step.picturesreception) ? 'checked' : ''}} data-picturesreception="{{step.id}}">
							{% if step.commentpicturesreception is empty %}
							{% else %}
							| <a data-bs-toggle="modal" data-bs-target="#popup-commentpicturesreception" data-bs-id="{{step.id}}" data-bs-commentpicturesreception="{{step.commentpicturesreception}}"><i class="fas fa-eye"></i></a>
							{% endif %}
						</td>

						{# Popup 5 #}
						<td>
							<input type="checkbox" class="webdesignprogress form-check-input" {{ (step.webdesignprogress) ? 'checked' : ''}} data-webdesignprogress="{{step.id}}">
							{% if step.commentwebdesignprogress is empty %}
							{% else %}
							| <a data-bs-toggle="modal" data-bs-target="#popup-commentwebdesignprogress" data-bs-id="{{step.id}}" data-bs-commentwebdesignprogress="{{step.commentwebdesignprogress}}"><i class="fas fa-eye"></i></a>
							{% endif %}
						</td>

						{# Popup 6 #}
						<td>
							<input type="checkbox" class="webdesignwait form-check-input" {{ (step.webdesignwait) ? 'checked' : ''}} data-webdesignwait="{{step.id}}">
							{% if step.commentwebdesignwait is empty %}
							{% else %}
							| <a data-bs-toggle="modal" data-bs-target="#popup-commentwebdesignwait" data-bs-id="{{step.id}}" data-bs-commentwebdesignwait="{{step.commentwebdesignwait}}"><i class="fas fa-eye"></i></a>
							{% endif %}
						</td>

						<td>
							<input type="checkbox" class="webdesignvalidated form-check-input" {{ (step.webdesignvalidated) ? 'checked' : ''}} data-webdesignvalidated="{{step.id}}">
							{% if step.commentwebdesignvalidated is empty %}
							{% else %}
							| <a data-bs-toggle="modal" data-bs-target="#popup-commentwebdesignvalidated" data-bs-id="{{step.id}}" data-bs-commentwebdesignvalidated="{{step.commentwebdesignvalidated}}"><i class="fas fa-eye"></i></a>
							{% endif %}
						</td>

						<td><input type="checkbox" class="webintegration form-check-input" {{ (step.webintegration) ? 'checked' : ''}} data-webintegration="{{step.id}}">
							{% if step.commentwebintegration is empty %}
							{% else %}
							| <a data-bs-toggle="modal" data-bs-target="#popup-commentwebintegration" data-bs-id="{{step.id}}" data-bs-commentwebintegration="{{step.commentwebintegration}}"><i class="fas fa-eye"></i></a>
							{% endif %}
						</td>

						<td><input type="checkbox" class="webtraining form-check-input" {{ (step.webtraining) ? 'checked' : ''}} data-webtraining="{{step.id}}">
							{% if step.commentonline is empty %}
							{% else %}
							| <a data-bs-toggle="modal" data-bs-target="#popup-commentonline" data-bs-id="{{step.id}}" data-bs-commentonline="{{step.commentonline}}"><i class="fas fa-eye"></i></a>
							{% endif %}
						</td>

						<td>{% if step.online is empty %}<span>Inconnue</span>{% else %}{{ step.online|raw }}{% endif %}</td>
						<td>

						<a href="{{ path('steps_modify_admin', {"id": step.id}) }}"><i class="fas fa-cog"></i></a>
						|
						<a href="{{ path('steps_detete_admin', {"id": step.id}) }}" onclick="return confirm('Attention vous vous apprettez à supprimer une étape')"><i class="fas fa-trash"></i></a>	
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		{% include 'popups.html.twig' %}
	{% endblock %}
{% endblock %}

