{% extends 'back/index.html.twig' %}

{% block title %}Liste des étapes - {% block title_base %}{{ parent() }}{% endblock %}{% endblock %}

{% block body %}
	<div>
		{% block titre_admin_page %}{% block title_titre_admin_page_base %}{{ parent() }}{% endblock %}Étapes projets{% endblock %}		
	</div>
	{% block admin_utilisateur %}
		<div class="d-flex">
			<a href="{{ path('steps_add_admin') }}" title="Ajouter un client" type="button" class="btn btn-outline-light mb-3">
				<i class="fas fa-plus-circle"></i>
			</a>
		</div>
		<table class="table table-light" id="infoTable" data-toggle="table" data-pagination="true" data-search="true"   data-checkbox-header="false">
			<thead>
				<tr class="clickableRow">
					<th scope="col">Nom du client</th>
					<th scope="col">Brief client</th>
					<th scope="col">Nom de domaine</th>
					<th scope="col">Commentaire nom de domaine</th>
					<th scope="col">Coming soon</th>
					<th scope="col">Contenu client</th>
					<th scope="col">Photos</th>
					<th scope="col">Maquette en cours</th>
					<th scope="col">Maquette envoyée</th>
					<th scope="col">Maquette validée</th>
					<th scope="col">Intégration</th>
					<th scolpe="col">Formation</th>
					<th scope="col">Mise en ligne</th>
					<th scope="col">Action</th>
				</tr>
			</thead>
			<tbody>
				{% for step in steps %}
					<tr class="form-switch">
						<td>{{ step.customer }}</td>
						<td>
							<input type="checkbox" class="customerbrief form-check-input" {{ (step.customerbrief) ? 'checked' : ''}} data-customerbrief="{{step.id}}">
							{% if (step.commentcustomerbrief) or (step.datecustomerbrief) %}
							| <a data-bs-toggle="modal" data-bs-target="#popup-customerbrief" data-bs-id="{{step.id}}"
								data-bs-commentcustomerbrief="{% if step.commentcustomerbrief is empty %}{% else %}{{step.commentcustomerbrief}}{% endif %}"
								data-bs-datecustomerbrief="{% if step.datecustomerbrief is empty %}{% else %}{{step.datecustomerbrief|date("d-m-Y") }}{% endif %}">
							<i class="fas fa-eye"></i>
							{% else %}
							{% endif %}
						</td>
						<td><a href="{{ step.domain }}" target="new"></a>{{ step.domain }}</td>
						<td>
							<input type="checkbox" class="domainname form-check-input" {{ (step.domainname) ? 'checked' : ''}} data-domainname="{{step.id}}">
							{% if (step.commentdomainname) or (step.datedomainname) %}
							| <a data-bs-toggle="modal" data-bs-target="#popup-domainname" data-bs-id="{{step.id}}"
								data-bs-commentdomainname="{% if step.commentdomainname is empty %}{% else %}{{step.commentdomainname}}{% endif %}"
								data-bs-datedomainname="{% if step.datedomainname is empty %}{% else %}{{step.datedomainname|date("d-m-Y") }}{% endif %}">
							<i class="fas fa-eye"></i></a>
							{% else %}
							{% endif %}
						</td>

						<td class="align-middle">
							<input type="checkbox" class="comingsoon form-check-input" {{ (step.comingsoon) ? 'checked' : ''}} data-comingsoon="{{step.id}}">
							{% if (step.commentcomingsoon) or (step.datecomingsoon) %}
							| <a data-bs-toggle="modal" data-bs-target="#popup-comingsoon" data-bs-id="{{step.id}}"
								data-bs-commentcomingsoon="{% if step.commentcomingsoon is empty %}{% else %}{{step.commentcomingsoon}}{% endif %}"
								data-bs-datecomingsoon="{% if step.datecomingsoon is empty %}{% else %}{{step.datecomingsoon|date("d-m-Y") }}{% endif %}">
							<i class="fas fa-eye"></i></a>
							{% else %}
							{% endif %}
						</td>

						<td>
							<input type="checkbox" class="customercontentreception form-check-input" {{ (step.customercontentreception) ? 'checked' : ''}} data-customercontentreception="{{step.id}}">
							{% if (step.commentcustomercontentreception) or (step.datecustomercontentreception) %}
							| <a data-bs-toggle="modal" data-bs-target="#popup-customercontentreception" data-bs-id="{{step.id}}"
								data-bs-commentcustomercontentreception="{% if step.commentcustomercontentreception is empty %}{% else %}{{step.commentcustomercontentreception}}{% endif %}"
								data-bs-datecustomercontentreception="{% if step.datecustomercontentreception is empty %}{% else %}{{step.datecustomercontentreception|date("d-m-Y") }}{% endif %}">
							<i class="fas fa-eye"></i></a>
							{% else %}
							{% endif %}
						</td>

						<td>
							<input type="checkbox" class="picturesreception form-check-input" {{ (step.picturesreception) ? 'checked' : ''}} data-picturesreception="{{step.id}}">
							{% if (step.commentpicturesreception) or (step.datepicturesreception) %}
							| <a data-bs-toggle="modal" data-bs-target="#popup-picturesreception" data-bs-id="{{step.id}}"
								data-bs-commentpicturesreception="{% if step.commentpicturesreception is empty %}{% else %}{{step.commentpicturesreception}}{% endif %}"
								data-bs-datepicturesreception="{% if step.datepicturesreception is empty %}{% else %}{{step.datepicturesreception|date("d-m-Y") }}{% endif %}">
							<i class="fas fa-eye"></i></a>
							{% else %}
							{% endif %}
						</td>

						<td>
							<input type="checkbox" class="webdesignprogress form-check-input" {{ (step.webdesignprogress) ? 'checked' : ''}} data-webdesignprogress="{{step.id}}">
							{% if (step.commentwebdesignprogress) or (step.datewebdesignprogress) %}
							| <a data-bs-toggle="modal" data-bs-target="#popup-webdesignprogress" data-bs-id="{{step.id}}"
								data-bs-commentwebdesignprogress="{% if step.commentwebdesignprogress is empty %}{% else %}{{step.commentwebdesignprogress}}{% endif %}"
								data-bs-datewebdesignprogress="{% if step.datewebdesignprogress is empty %}{% else %}{{step.datewebdesignprogress|date("d-m-Y") }}{% endif %}">
							<i class="fas fa-eye"></i></a>
							{% else %}
							{% endif %}
						</td>

						<td>
							<input type="checkbox" class="webdesignsend form-check-input" {{ (step.webdesignsend) ? 'checked' : ''}} data-webdesignsend="{{step.id}}">
							{% if (step.commentwebdesignsend) or (step.datewebdesignsend) %}
							| <a data-bs-toggle="modal" data-bs-target="#popup-webdesignsend" data-bs-id="{{step.id}}"
								data-bs-commentwebdesignsend="{% if step.commentwebdesignsend is empty %}{% else %}{{step.commentwebdesignsend}}{% endif %}"
								data-bs-datewebdesignsend="{% if step.datewebdesignsend is empty %}{% else %}{{step.datewebdesignsend|date("d-m-Y") }}{% endif %}">
							<i class="fas fa-eye"></i></a>
							{% else %}
							{% endif %}
						</td>

						<td>
							<input type="checkbox" class="webdesignvalidated form-check-input" {{ (step.webdesignvalidated) ? 'checked' : ''}} data-webdesignvalidated="{{step.id}}">
							{% if (step.commentwebdesignvalidated) or (step.datewebdesignvalidated) %}
							| <a data-bs-toggle="modal" data-bs-target="#popup-webdesignvalidated" data-bs-id="{{step.id}}"
								data-bs-commentwebdesignvalidated="{% if step.commentwebdesignvalidated is empty %}{% else %}{{step.commentwebdesignvalidated}}{% endif %}"
								data-bs-datewebdesignvalidated="{% if step.datewebdesignvalidated is empty %}{% else %}{{step.datewebdesignvalidated|date("d-m-Y") }}{% endif %}">
							<i class="fas fa-eye"></i></a>
							{% else %}
							{% endif %}
						</td>

						<td>
							<input type="checkbox" class="webintegration form-check-input" {{ (step.webintegration) ? 'checked' : ''}} data-webintegration="{{step.id}}">
							{% if (step.commentwebintegration) or (step.datewebintegration) %}
							| <a data-bs-toggle="modal" data-bs-target="#popup-webintegration" data-bs-id="{{step.id}}"
								data-bs-commentwebintegration="{% if step.commentwebintegration is empty %}{% else %}{{step.commentwebintegration}}{% endif %}"
								data-bs-datewebintegration="{% if step.datewebintegration is empty %}{% else %}{{step.datewebintegration|date("d-m-Y") }}{% endif %}">
							<i class="fas fa-eye"></i></a>
							{% else %}
							{% endif %}
						</td>

						<td>
							<input type="checkbox" class="webtraining form-check-input" {{ (step.webtraining) ? 'checked' : ''}} data-webtraining="{{step.id}}">
							{% if (step.commentwebtraining) or (step.datewebtraining) %}
							| <a data-bs-toggle="modal" data-bs-target="#popup-webtraining" data-bs-id="{{step.id}}"
								data-bs-commentwebtraining="{% if step.commentwebtraining is empty %}{% else %}{{step.commentwebtraining}}{% endif %}"
								data-bs-datewebtraining="{% if step.datewebtraining is empty %}{% else %}{{step.datewebtraining|date("d-m-Y") }}{% endif %}">
							<i class="fas fa-eye"></i></a>
							{% else %}
							{% endif %}
						</td>

						<td>{% if step.online is empty %}<span>Inconnue</span>{% else %}{{ step.online|date('d-m-Y') }}{% endif %}</td>
						<td>

						<a href="{{ path('steps_modify_admin', {"id": step.id}) }}"><i class="fas fa-cog"></i></a>
						|
						<a href="{{ path('steps_detete_admin', {"id": step.id}) }}" onclick="return confirm('Attention vous vous apprettez à supprimer une étape')"><i class="fas fa-trash"></i></a>	
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		{% include 'popups.html.twig' %}
	{% endblock %}
{% endblock %}

