{% extends 'back/index.html.twig' %}

{% block title %}Modifier étapes - {% block title_base %}{{ parent() }}{% endblock %}{% endblock %}

{% block body %}
	<div>
{% block titre_admin_page %}{% block title_titre_admin_page_base %}{{ parent() }}{% endblock %}Étapes - Modifier{% endblock %}
	</div>
	{% block admin_utilisateur %}

		{{ form_start(form_steps_modify_admin) }}
		<div class="was-validated form-back background-login is-valid">
			{% if notification %}
				<div class="alert alert-success">{{ notification }}<br>
					<hr>
					<a href="{{ path('steps_list_admin') }}">Retourner à la liste</a>
				</div>
			{% endif %}
				<div class="form-group">
					{{ form_row(form_steps_modify_admin.commentcustomerbrief) }}
					<div class="mb-3"></div>
					{{ form_row(form_steps_modify_admin.commentcomingsoon) }}
					<div class="mb-3"></div>
					{{ form_row(form_steps_modify_admin.commentcustomercontentreception) }}
					<div class="mb-3"></div>
					{{ form_row(form_steps_modify_admin.commentpicturesreception) }}
					<div class="mb-3"></div>
					{{ form_row(form_steps_modify_admin.commentwebdesignprogress) }}
					<div class="mb-3"></div>
					{{ form_row(form_steps_modify_admin.commentwebdesignwait) }}
					<div class="mb-3"></div>
					{{ form_row(form_steps_modify_admin.commentwebdesignvalidated) }}
					<div class="mb-3"></div>
					{{ form_row(form_steps_modify_admin.commentwebintegration) }}
					<div class="mb-3"></div>
					{{ form_row(form_steps_modify_admin.commentwebtraining) }}
					<div class="mb-3"></div>
					{{ form_row(form_steps_modify_admin.commentonline) }}
					<div class="mb-3"></div>
					{{ form_row(form_steps_modify_admin.online) }}
					<div class="mb-3"></div>
					{{ form_row(form_steps_modify_admin.submit) }}
				</div>
		</div>
		{{ form_end(form_steps_modify_admin) }}
	{% endblock %}
{% endblock %}