{% extends 'back/index.html.twig' %}

{% block title %}Ajouter un client - {% block title_base %}{{ parent() }}{% endblock %}{% endblock %}

{% block body %}
	<div>
		{% block titre_admin_page %}Client - Ajouter{% endblock %}
	</div>
	{% block admin_utilisateur %}
		{{ form_start(form_admin_customer_add) }}
		<div class="was-validated form-back background-login is-valid">
			{% if notification %}
					<div class="alert alert-success form-success text-center">{{ notification }}<br>
						<hr>
						<a href="{{ path('customer_list_admin') }}">Retourner sur la liste des Clients</a>
					</div>
				<hr>
			{% endif %}
			<div class="form-group">
				{{ form_row(form_admin_customer_add.name) }}
					<div class="mb-3"></div>
				{{ form_row(form_admin_customer_add.submit) }}
			</div>
		</div>
		{{ form_end(form_admin_customer_add) }}
	{% endblock %}
{% endblock %}


