{% extends 'back/index.html.twig' %}

{% block title %}Modifier le client - {% block title_base %}{{ parent() }}{% endblock %}{% endblock %}

{% block body %}
	<div>
		{% block titre_admin_page %}{% block title_titre_admin_page_base %}{{ parent() }}{% endblock %}<a href="{{path('customer_list_admin')}}">Client</a> - Modification - 
		<br>ID: {{ customer.id }}{% endblock %}
	</div>
	{% block admin_utilisateur %}
		<div class="container">
			{% if notification %}
				<hr>
					<div class="alert alert-success">{{ notification }}<br>
						<hr>
						<a href="{{ path('customer_list_admin') }}">Retourner sur la liste des clients</a>
					</div>
				<hr>
			{% endif %}
		<div class="was-validated">
			<div class="row">
				<div class="col-6">
					{{ form(form_customer_modify_admin) }}
				</div>
			</div>
		</div>
	{% endblock %}
	</div>
{% endblock %}