<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="icon" href="{{ asset('assets/images/logo-to-do-list-vert.ico') }}" />

		<title>
			{% block title %}Tableau de bord -{% block title_base %} Administration{% endblock %}{% endblock %}
		</title>

		<!-- Bootstrap CSS CDN -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css">

		<!-- Font Awesome JS -->

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.3.0/css/all.min.css" integrity="sha512-UJqci0ZyYcQ0AOJkcIkUCxLS2L6eNcOr7ZiypuInvEhO9uqIDi349MEFrqBzoy1QlfcjfURHl+WTMjEdWcv67A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<!-- Custom CSS -->
		<link rel="stylesheet" href="{{ asset('assets/css/back/admin-template.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/css/back/responsive.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/css/root.css') }}">
		<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />	

	</head>
<body class="app">   	
    <header class="app-header fixed-top">	   	            
        <div class="app-header-inner">  
	        <div class="container-fluid py-2">
		        <div class="app-header-content"> 
		            <div class="row justify-content-between align-items-center">
				    <div class="col-auto">
					    <a id="sidepanel-toggler" class="sidepanel-toggler d-inline-block d-xl-none" href="#">
						    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" role="img"><title>Menu</title><path stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"></path></svg>
					    </a>
				    </div>
		            
		            <div class="app-utilities col-auto">
			            <div class="app-utility-item align-items-center">    
				            <a href="{{ path('home') }}">
								{{ app.user.firstname }} {{ app.user.lastname }}
					        </a>			        
				        </div>
			            <div class="app-utility-item">
				            <a href="{{ path('home') }}">Retour à l'accueil</a>
					    </div>
			            
			            <div class="app-utility-item">
				            <a href="{{ path('app_logout') }}"><i class="fas fa-sign-out-alt" title="Se déconnecter"></i></a>
			            </div>
		            </div>
		        </div>
	            </div>
	        </div>
        </div>
        <div id="app-sidepanel" class="app-sidepanel"> 
	        <div id="sidepanel-drop" class="sidepanel-drop"></div>
	        <div class="sidepanel-inner d-flex flex-column">
		        <a href="#" id="sidepanel-close" class="sidepanel-close d-xl-none">&times;</a>
		        <div class="app-branding">
		            <a class="app-logo" href="{{ path('steps_list_admin') }}"><span class="logo-text">Projets Clients</span></a>
		        </div>
		        
			    <nav id="app-nav-main" class="app-nav app-nav-main flex-grow-1">
				    <ul class="app-menu list-unstyled">
					    <li class="nav-item">
					        <a class="nav-link" href="{{ path('steps_list_admin') }}">
						        <span class="nav-icon">
									<i class="fas fa-list"></i>
						         </span>
		                         <span class="nav-link-text">Étapes</span>
					        </a>
					    </li>
					    <li class="nav-item">
					        <a class="nav-link" href="{{ path('customer_list_admin') }}">
						        <span class="nav-icon">
									<i class="fas fa-child"></i>
						         </span>
		                         <span class="nav-link-text">Clients</span>
					        </a>
					    </li>
					    <li class="nav-item">
					        <a class="nav-link" href="{{ path('user_list_admin') }}">
						        <span class="nav-icon">
									<i class="fas fa-users"></i>
						         </span>
		                         <span class="nav-link-text">Équipe</span>
					        </a>
					    </li>
					    <li class="nav-item">
					        <a class="nav-link" href="{{ path('download_list_admin') }}">
						        <span class="nav-icon">
									<i class="fas fa-download"></i>
						         </span>
		                         <span class="nav-link-text">Téléchargement</span>
					        </a>
					    </li> 
				    </ul>
			    </nav>
			    <div class="app-sidepanel-footer">
				    <nav class="app-nav app-nav-footer">
					    <ul class="app-menu footer-menu list-unstyled">
						    <li class="nav-item">
						        <a class="nav-link" href="{{ path('changelog') }}">
										<i class="fas fa-undo-alt"></i>
			                        <span class="nav-link-text">Changement</span>
						        </a>
						    </li>
					    </ul>
					</nav>
			    </div>
	        </div>
	    </div>
    </header>
    
    <div class="app-wrapper">
	    <div class="app-content pt-3 p-md-3 p-lg-4">
			<h1 class="app-page-title">
				{% block titre_admin_page %}<h4 class="color-blue-dark-shebam">
					{% block title_titre_admin_page_base %}<a href="{{ path('steps_list_admin') }} " title="Retourner sur la liste des tâches">Administration</a> <i class="fas fa-arrow-right"></i>
					{% endblock %}Tableau de Bord / {{app.user.firstname}} {{app.user.lastname}}</h4>
				{% endblock %}
			</h1>
			    
			{% block admin_utilisateur %}
			{% endblock %}		    
		</div>
    </div>   					

 
    <!-- Javascript -->          
    
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script><!-- Popper.JS -->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
		<script src="{{ asset('assets/js/bootstrap-table.js') }}"></script>
		<script src="{{ asset('assets/js/custom.js') }}"></script>
		<script src="{{ asset('assets/js/checkbox.js') }}"></script>
		<script src="{{ asset('assets/js/app.js') }}"></script>
		<script src="{{ asset('assets/js/comment-popup.js') }}"></script>
		<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
		<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
	</body>
</html>