{% extends 'base.html.twig' %}

{% block content %}
<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{%  block title %}Sites internet - {% block title_base %}{{ parent() }}{% endblock %}{% endblock %}</title>
</head>
	<body>
		<div class="mb-5">
			<h1 class="text-center color-blue-dark-shebam mb-3">Sites internet clients</h1>	
			<div class="mb-4"></div>
			<div class="d-flex flex-row-reverse">
				<a href="{{ path('website_add_front') }}" title="Ajouter un site" type="button" class="btn mb-3">
					<i class="fas fa-plus-circle"></i>
				</a>
			</div>
			<table class="table table-light">
				<thead class="thead-light">
					<tr>
						<th scope="col">Nom de domaine</th>
						<th scope="col">Description</th>
						<th scope="col">Type de site</th>
						<th scope="col">Action</th>
					</tr>
				</thead>
				<tbody>
					{% for website in websites %}
						<tr class="form-switch">
							<td><a href="http://{{ website.domainname }}" target="new">{{ website.domainname }}</td>	
							<td>{{ website.description }}</td>
							<td>{{ website.websitetype }}</td>
							<td>
								<a href="{{ path('websites_detete_front', {"id": website.id}) }}" onclick="return confirm('Attention vous vous apprettez à supprimer une étape')" title="Supprimer"><i class="fas fa-trash"></i></a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</body>
</html>
{% endblock %}