{% extends 'base.html.twig' %}
{% block content %}
<title>{%  block title %}Modifier site internet - {% block title_base %}{{ parent() }}{% endblock %}{% endblock %}</title>

{% block body %}
	<div class="container">
		<h1 class="text-center color-blue-dark-shebam mb-5">modification du site: {{website.domainname}}</h1>	
		{{ form_start(form_website_modify_front) }}
		<div class="was-validated is-valid container">
		{% if notification %}
			<div class="alert alert-success form-success text-center">{{ notification }}<br>
				
				<a class="notification-success-custom" href="{{ path('websites') }}">Retourner à la liste</a>
			</div>
		{% endif %}
			<div class="form-group">
				<div class="row">
					<div class="col">
						<div class="row">
							{{ form_row(form_website_modify_front.domainname) }}
							<div class="mb-3"></div>
							{{ form_row(form_website_modify_front.description) }}
							<div class="mb-3"></div>
							{{ form_row(form_website_modify_front.websitetype) }}
							<div class="mb-3"></div>
							{{ form_row(form_website_modify_front.submit) }}							
						</div>
					</div>
				</div>
			</div>
			{{ form_end(form_website_modify_front) }}
		</div>
	</div>
{% endblock %}
{% endblock %}